
.heading{
    font-size: 22px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 17px;
    color: black;
}


#song_name{
    font-size: 18px;
    width: 100px;
}

canvas{
    border-color: brown;
    border-style: ridge;
    border-width: 5px;
    border-radius: 20px;
}